@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #1976d2;
  --secondary: #8c8c83;
  --font-family: 'Montserrat', sans-serif;
  --wrapper: 1200px;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}
