/* You can add global styles to this file, and also import other style files */
@import 'normalize';
@import 'variables';

body {
  font-size: 16px; // 1rem
  font-family: var(--font-family);
  background: #fff;
  overflow-y: auto;
}
