.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.dashboard {
  max-width: var(--wrapper);
  width: 90%;
  padding: 2rem 0;
  margin: 0 auto;
  &-title {
    font-size: 1.325rem;
    font-weight: var(--semi-bold);
    color: var(--secondary);
    margin-bottom: 1.5rem;
  }
  &-indicators-mob {
    display: none;
  }
  &-indicators {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
  }
  &-chart {
    max-width: 750px;
    .field {
      &-label {
        display: block;
        margin-bottom: 0.325rem;
        font-weight: var(--semi-bold);
        font-size: 0.875rem;
        color: var(--secondary);
      }
      &-select {
        width: 100%;
        padding: 0.625rem;
        border-radius: 0.5rem;
        border: 1px solid var(--secondary);
        outline: none;
        font-size: 0.875rem;
        background: none;
      }
    }
    .fields {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      .field {
        flex-grow: 1;
        width: 100px;
        &:first-of-type {
          margin-right: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .dashboard {
    &-indicators {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media screen and (max-width: 1050px) {
  .dashboard {
    &-indicators {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 760px) {
  .dashboard {
    &-indicators {
      display: none;
    }
    &-indicators-mob {
      display: block;
    }
  }
}

@media screen and (max-width: 640px) {
  .dashboard {
    &-indicators-mob {
      display: block;
    }
    &-chart {
      .fields {
        display: block;
        .field {
          width: 100%;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
