<aside class="aside">
  <figure class="aside-user">
    <img class="image" src="assets/images/logo.png" alt="Logo" />
  </figure>
  <nav class="aside-nav">
    <a routerLink="/dashboard" class="link icon-bar-chart"></a>
  </nav>
  <button (click)="toggleModal()" class="aside-logout icon-log-out"></button>
</aside>

<app-modal (closeModal)="toggleModal()" *ngIf="modal" [openModal]="true">
  <section class="thanks">
    <h2 class="thanks-title">¡Muchas Gracias!</h2>
    <h4 class="thanks-made">Made with &#10084;&#65039;by Javier Castro</h4>
  </section>
</app-modal>
